*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.outer{
    height: 800px;
    width: 460px;
    background-color: black;
    border-radius:60px ;
}
.display{
    height: 240px;
    display: flex;
}
.buttons{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
}
.buttons button{
    width: 70px;
    height: 70px;
    font-size: 40px;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    border: none;
    margin: 10px;
}
.buttons .del{
    width: 180px;
    border-radius: 40px;
    grid-column-start: 1;
    grid-column-end: 3;
}
.buttons .equal {
    width: 280px;
    border-radius: 40px;
    grid-column-start: 2;
    grid-column-end: 5;
}
.buttons button:active{
    filter: brightness(240%);
}
.display{
    height: 240px;
    display: flex;
    color: #fff;
    font-size: 40px;
    flex-direction: column;
    align-items: flex-end;
    padding-right:20px;
    padding-top: 20px;
    justify-content: flex-end; 
}
.current{
    font-size: 60px;
    min-height: 80px;  
}
.prev {
    font-size: 40px;
    opacity: 0.7;
    margin-bottom: 15px;  
    min-height: 40px;     
    color: inherit;        
}